/.idea
frontend/configurations/settings.py
/frontend/social_network_app/migrations
/frontend/social_network_app/__pycache__
/frontend/configurations/settings.py
frontend/social_network_app/__init__.py
/frontend/configurations/__pycache__
frontend/configurations/__init__.py
*.pyc
