{%extends 'base.html'%}

{%block content%}
{% load static %}
{% load crispy_forms_tags %}
{% load form_tags %}

<form method="POST">
    {% csrf_token %}
    <div class="content-section">
        <img src="{% static 'images/app-icon.png' %}" alt="app icon" width="50" height="50">
        <h4 class="title">The Social Network</h4>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">
            <i class="bi bi-person"></i>
        </span>
        {{ form.username|add_class:"form-control"|add_placeholder:"Enter your username" }}
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">
            <i class="bi bi-envelope"></i>
        </span>
        {{ form.email|add_class:"form-control"|add_placeholder:"Enter your email" }}
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">
            <i class="bi bi-lock"></i>
        </span>
        {{ form.password1|add_class:"form-control"|add_placeholder:"Enter your password" }}
        <span class="toggle-password" data-target="id_password1">
            <i class="fas fa-eye"></i>
        </span>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">
            <i class="bi bi-lock"></i>
        </span>
        {{ form.password2|add_class:"form-control"|add_placeholder:"Confirm your password" }}
        <span class="toggle-password" data-target = "id_password2">
            <i class="fas fa-eye"></i>
        </span>
    </div>
    <div class="input-group mb-3">
        <button class="btn btn-primary" type="submit">Sign up</button>
    </div>
</form>
{%endblock%}