{%extends 'layouts/base_auth.html'%}

{% load static %}
{% load crispy_forms_tags %}
{% load form_tags %}

{% block form_fields %}
<div class="input-group mb-3">
    <span class="input-group-text">
        <i class="bi bi-person"></i>
    </span>
    {{ form.username|add_class:"form-control"|add_placeholder:"Enter your username" }}
</div>

<div class="input-group mb-3">
    <span class="input-group-text">
        <i class="bi bi-envelope"></i>
    </span>
    {{ form.email|add_class:"form-control"|add_placeholder:"Enter your email" }}
</div>

<div class="input-group mb-3">
    <span class="input-group-text">
        <i class="bi bi-lock"></i>
    </span>
    {{ form.password1|add_class:"form-control"|add_placeholder:"Enter your password" }}
    <span class="toggle-password" data-target="id_password1">
        <i class="fas fa-eye"></i>
    </span>
</div>

<div class="input-group mb-3">
    <span class="input-group-text">
        <i class="bi bi-lock"></i>
    </span>
    {{ form.password2|add_class:"form-control"|add_placeholder:"Confirm your password" }}
    <span class="toggle-password" data-target="id_password2">
        <i class="fas fa-eye"></i>
    </span>
</div>
<div style="display: flex">
    <a href="{% url 'login' %}">Already have an account? Log in</a>
</div>
{% endblock %}

